asn1crypto
backports.functools-lru-cache
beautifulsoup4
chardet
Click
configparser
cryptography
entrypoints
enum34
Flask
Flask-SocketIO
html5lib
idna
ipaddress
itsdangerous
Jinja2
keyring
keyrings.alt
lxml
MarkupSafe
numpy
pycrypto
PyGObject
python-engineio
python-socketio
pyxdg
scour
SecretStorage
six
soupsieve
webencodings
Werkzeug
python-apt
